
@import url('https://fonts.googleapis.com/css2?family=Delius&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counter-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
   font-family: "Delius", cursive;
}

.counter-card {
  width: 100%;
  max-width: 450px;
  padding: 30px 20px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  animation: fadeIn 0.8s ease-in-out;
}

.title {
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #dcdcdc;
}

.count-display {
  font-size: 70px;
  font-weight: bold;
  color: #00ffcc;
  text-shadow: 0px 0px 15px rgba(0, 255, 204, 0.7);
  margin-bottom: 20px;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  margin-bottom: 15px;
}

.progress-fill {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: linear-gradient(90deg, #00ffcc, #00c6ff);
  transition: 0.3s ease-in-out;
}

/* Messages */
.message {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 18px;
}

.danger {
  color: #f24b4bf1;
}

.success {
  color: #00ff99;
}

.normal {
  color: #ffd700;
}

/* Buttons */
.btn-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.04);
}

/* Button Colors */
.increment {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
}

.decrement {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  color: white;
}

.reset {
  background: linear-gradient(135deg, #56ab2f, #a8e063);
  color: black;
}

/* Disabled button */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

/* Mobile responsive */
@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }

  .count-display {
    font-size: 55px;
  }

  .btn {
    font-size: 15px;
    padding: 12px;
  }
}

/* Smooth animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile tap highlight remove */
button {
  -webkit-tap-highlight-color: transparent;
}
